.intro {
  background-color: #f7f8fc;
}

.logo {
  background-image: url("/logo.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 200px;
}

.lead {
  width: 100%;
  white-space: inherit;
}
